# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build outputs
.next
.nuxt
dist
out
.cache
.parcel-cache

# Config caches
*.tsbuildinfo
.eslintcache
.stylelintcache

# Others
.env
.env.*
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# IDE-specific
.vscode-test
.tern-port

# Framework-specific
.serverless/
.docusaurus/
.vuepress/
.temp

# Optional package artifacts
*.tgz