body {
  font-family: "Quicksand";
  font-size: 1.2rem;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,255,254,1) 100%); 
  color: #333333;
}

input, .button-search {
    font-family: "Quicksand";
}

input {
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  vertical-align: middle;
  box-shadow: 2px 5px 10px #BED7DC;
  outline: none;
  transition: 0.3s ease-in-out;
}

input:focus {
  border-radius: 15px;
}

.image-sun{
  margin: 50px auto;
  display: block;
  width: 280px;  
}

.container, .con-result {
  margin: 100px auto;
  display: block;
  width: 400px;
  align-items: center;
  text-align: center;
}

.con-result {
  animation: fadeIn 3s ease-out forwards;
}

.details {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center; 
}

.box {
  width: 100px;
  padding: 1rem;
  text-align: center; 
  opacity: 0;  /* Start with hidden */
  animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.button-search {
  background-color: #BED7DC;
  border: none;
  border-radius: 5px;
  padding: 22px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 5px 10px #BED7DC;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.button-search:hover {
  border-radius: 15px;
  cursor: pointer;
}

footer {
  margin-top: auto;
  text-align: center;
}